/* Reset margin and padding for body and HTML */
html, body {
    font: normal 600 16px "Roboto", sans-serif;
    color: #2b283a;
    margin: 0;
    padding: 0;
    line-height: 23px;
}

/* Header styling */
header {
    background-color: #5f29a3;
    padding: 45px 0;
}

/* Header titles */
header > h1 {
    color: whitesmoke;
    margin: 0;
    font-size: 36px;
}

header > h3 {
    color: #d0aaff;
    font-size: 20px;
    margin: 0;
}

/* Subheader in sections */
h2, .section-two {
    font-size: 24px;
    margin-top: 0;
}

/* Link styling */
a:link {
    color: #ef5839;
}

a:hover, a:focus {
    color: #d4b44c;
}

/* Section padding */
section, footer {
    padding: 45px 0;
}

/* Container styling */
.container {
    width: 620px;
    margin: 0 auto;
}

/* Image styling */
.feature-image, .purple-shoes {
    width: 100%;
}

.feature-image {
    border-radius: 4.6px;
}

.section-two {
    color: white;
    background-color: #5f29a3;
    font-size: inherit;
}

.section-two-image-container {
    display: flex;
    justify-content: start;
}

/* Footer styling */
footer {
    color: #5f29a3;
    text-align: center;
}
